<<<<<<< HEAD

=======
* { margin:0; padding:0; box-sizing:border-box; }
img {
	width:300px;
} /* delete this once you start sizing your images */
header {
	background:black;
}
header img {
	width: 3em;
	display: inline-block;
	vertical-align: bottom;
}
section {
	padding:4em 0;
}
>>>>>>> c638104758f289ef2391b17389082c68b09e0d7c
h1{
	color: white;
	display: inline-block;
}
a{
	text-decoration: none;
}
h2{
	font-family: "Courier New", monospace;
	font-style: italic;
	font-size: 18px;
}
ol {
	padding-left:1.25em;
}
#third {
	font-style: italic
}
p{
	font-family: Arial, sans-serif;
	color: grey;
}
#intro {
	background:url(../images/background_artwork.png);
	background-size:cover;
	background-repeat: no-repeat;
	height: 85vh;
	position: relative;
}
